* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html{
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.bold {
  font-weight: 700;
}

.small{
  font-size: small;
}

.gray{
  color: gray;
}

.margin-top{
  margin-top: 20px;
}

.margin-bottom{
  padding-bottom: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.column{
  flex-direction: column;
}

.grid {
  display: grid;
}

.select-plan{
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.bigmargin-bottom{
  margin-bottom: 150px;
}

/* HEADER */

.header {
  justify-content: space-between;
  height: 80px;
  
}

.header-sinistra {
  display: flex;
  justify-content: center;
  padding: 1px;
  
}

.list-header-right {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
  margin-right: 20px;
}

.list-header-left {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}

ul li.li-header a{
  margin: 15px;
  text-decoration: none; 
  color: #000000; 
}

header ul li a.blu{
  color: white;
}

.li-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.li-header:hover{
  border-bottom:  3px solid #000000;
  
  
}
/* JUMBOTRON */

.jumbotron {
  height: 800px;
  background-color: #B4D0E7;
  width: 100%;
  justify-content: center;
  display: flex;
}

.body-jumbo {
  max-width: 1200px;

  height: 700px;
}

.jumbo-top {
  padding-top: 35px;

}

.jumbo-bottom {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 40px;
}

#jumboleft {
  max-width: 400px;
  padding-top: 20px;
  
}

.arrow-down {
  position:absolute;
  bottom: 70px;
  left: 10px;
  font-size: 3rem;
  cursor: pointer;
  color: #000000;
  
}

#jumboright {
  max-width: 500px;
  position: relative;
}

h1 {
  font-weight: 800;
  font-size: 5rem;
}

h2, h4, h5 {
  font-size: 2.7rem;
}

.btn {
  max-width: 90%;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-top: 30px ;
}

.blu{
  width: 250px;
  padding: 9px 15px;
  background-color: #0061FF;
  color: white;
}

.buttons .blu{
  padding: 12px;
}

.buttons {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 243px;
  
}

#jumboright {
  position: absolute;
}

#img-jumbo {
  position: relative;
  width: 900px;
  padding: 0%;
  left: 400px;
  bottom: -25px;
}

/* PLAN  */

.plans {
  width: 100%;
  max-width: 1000px;
  margin-top: 150px;
}

.selezionato {
  border-color: blue;
  border-radius: 50%;
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 5px solid;
  color:#0061FF;
}

.select {
  border-color: blue;
  border-radius: 50%;
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 2px solid;
  color: lightgray; 
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.piano {
  width: 30%;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.4); 
  padding-bottom: 40px;
}

.fa-ul {
  display: flex;
  flex-direction: column;
}

div.piano{
  height: 100%;
}

.plan-name {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  font-weight: 600;
  font-size:small;
  padding: 10px;
  border-bottom: 1px solid;
  border-color: rgba(128, 128, 128, 0.4);
}

.detail {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column ; 
}

.detail ul{
  display: flex;
  width: 80%;
  margin: 20px;
  height: fit-content;
}

.detail ul li{
  margin-top: 20px;
  height: fit-content;
  
}

.fa-check {
  color: #0061FF;
  font-weight: 900;
}

.try {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-size: small;
  padding: 10px 45px;
  
  
}

.fa-li {
  text-align: left;
  width: 100%;
  padding: 0%;
  
}

h3 {
  margin-bottom: 20px;
}

/* CARD */

.card { 
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.4);
  height: 250px;
  width: 80%;
  max-width: 1000px;
  margin: 20px;
  position: relative;
}

.card-body {
  margin-top: 20px;
  margin-left: 20px;
}

.card-body p {
  padding-top: 30px;
}

/* STATS */
.stats{
  justify-content: flex-start ;
  align-items: flex-start;
  width: 1000px;
}

.card-btn{
  position: absolute;
  right: 30px;
  top: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px 33px;
}

h5{
  max-width: 700px;
  margin-top: 200px;
  margin-bottom: 75px;
}

/* PARTNER */

.partner {
 width: 70%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.img-partner {
  width: 36.5rem;
  display: flex;
  margin-left: -10px;
  margin-top: 100px;
}

h10{
  margin-top:  150px;
  margin-left: 40px;
  font-size: x-large;
}

.partner-left {
  height: fit-content;
  width: 100%;
  display: flex ;
  justify-content: center;
}

.partner-right {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 400px;
}

.btn-find{
  padding: 10px 20px;
  border: 1px solid black;
  max-width: 90%;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-top: 30px ;
}

/* BUSINESS */

.title-business {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
}

.business{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 120px;
}

.bus-top {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.bus-bottom {
  display: flex;
  flex-wrap: wrap;
}

/* BUSINESS */


/* BOX */


.box {
  height: 480px;
  width: 300px;
  margin: 20px 25px;
}

.box-img {
  width: 100%
}

.top-box{
 object-fit: contain;
 width: fit-content;
 height: 50%;
}

h11 {
  font-size: x-large;
  font-weight: 800;

}

.boxp{
  font-size: medium;
  padding-top: 20px;
  padding-left: 0;
}

.box-client {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  aspect-ratio: 3;

}

.boxleft {
  width: calc(100% / 3);
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

.boxcenter {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  overflow: auto;
}

.boxright {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
}

.bottom-box{
  margin-top: 20px;

}

/* BOX */

.square1, .square2, .square3, .square4, .square5, .square6, .square7, .square8 {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content:center;
  align-items:center;
  align-content: stretch;
  object-fit: c;
}


.square1 img {
  filter: invert(1); 
  width: 50%;
}
.square2 img {
  filter: invert(1); 
  width: 50%;
}
.square3 img {
  filter: invert(1); 
  width: 50%;
}
.square4 img {
  filter: invert(1); 
  width: 50%;
}
.square5 img {
  filter: invert(1); 
  width: 50%;
}
.square6 img {
  filter: invert(1); 
  width: 50%;
}
.square7 img {
  filter: invert(1); 
  width: 50%;
}
.square8 img {
  filter: invert(1); 
  width: 50%;
}


.square1:hover {
  border: 14px solid #bcffb3;
}
.square2:hover {
  border: 14px solid #bd2b65
}
.square3:hover {
  border: 14px solid #91e0ff;
}
.square4:hover {
  border: 14px solid #ff7d7d;
}
.square5:hover {
  border: 14px solid #740515;
}
.square6:hover {
  border: 14px solid #5ea1d8;
}
.square7:hover {
  border: 14px solid #2f52dd;
}
.square8:hover {
  border: 14px solid #8b7203;
}
.square1:active {
  border: 14px solid #bcffb3;
}
.square2:hover {
  border: 14px solid #bd2b65
}
.square3:hover {
  border: 14px solid #91e0ff;
}
.square4:hover {
  border: 14px solid #ff7d7d;
}
.square5:hover {
  border: 14px solid #740515;
}
.square6:hover {
  border: 14px solid #5ea1d8;
}
.square7:hover {
  border: 14px solid #2f52dd;
}
.square8:hover {
  border: 14px solid #8b7203;
}


.square1 {
  background-color: #A2D39B;
}
.square2{
  background-color: #61082B;
}
.square3{
  background-color: #0093CE;
}
.square4{
  background-color: #FF1C1C;
}
.square5{
  background-color: #D5001F;
}
.square6{
  background-color: #B4D0E7;
}
.square7{
  background-color: #0D2481;
}
.square8{
  background-color: #FFD830;
}

/* PROVA GRATUITA */

.prova {
  background-color:#B4D0E7;
  height: 350px;
}

.free-try{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}

h6{
  font-size: 2.8rem;
  font-weight: 800;
  color: #61082B;
  width: 600px;
}

.prova-gratuita{
  text-decoration: none;
  padding: 10px 40px;
  background-color: white;
  color: #000000;
}

/* PROVA GRATUITA */


/* FAQ */

.faq{
  height: 600px;
  max-width: 1000px;
  padding-top: 140px;
}

.ulmenu{
  list-style: none;
}

.limenu{
  border: 1px 0 1px 0 solid black;
  
}

.open-menu{
  position: absolute;
  right: 20px;
  top: -1px;
}

div.menu {
  padding-top: 50px;
  padding-bottom: 50px;
}

ul li.limenu{
 
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-bottom: 1px solid rgba(131, 131, 131, 0.719);
}

h13 {
  font-size: 15px;
  line-height: 34px;
  font-weight: 600;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
  position: relative;
}

h7 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}

p.faqmnu {
  color: rgba(48, 69, 92, 0.8);
  font-size: 15px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

ul.ulmenu { 
  border-top: 1px solid rgba(131, 131, 131, 0.719);
}
/* FAQ */

/* FOOTER */

.site-footer {
  background-color: #000000;
  padding: 20px 0;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1250px;
}

.col {
  width: 20%; 
  padding: 0 25px;
  margin-top: 60px;
}


ul.footer {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  
}

ul.footer li {
  margin-bottom: 10px;
  padding: 4px;
  
}

ul.footer li a {
  color: white;
  
  text-decoration: none;
}

h12 {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 30px;
}
/* FOOTER */