* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
html{
  font-family: 'Open Sans', sans-serif;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}
.select-plan{
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  height: 80px;
  
  /* width: 100%; */
  /* display: flex;
  align-items: center; */
}
.header-sinistra {
  display: flex;
  align-items: center;
  padding: 15px;
}

.list-header {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
}
ul li a{
  padding: 15px;
  text-decoration: none; 
  color: #000000; 
}

.jumbotron {
  height: 800px;
  background-color: #B4D0E7;
  width: 100%;
  justify-content: center;
  display: flex;
}
.body-jumbo {
  max-width: 1200px;

  height: 700px;
}

.jumbo-top {
  padding-top: 35px;

}
.jumbo-bottom {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 40px;
}
#jumboleft {
  max-width: 400px;
  padding-top: 20px;
  
}
.arrow-left {
  position:absolute;
  bottom: 0;
  
}
#jumboright {
  max-width: 500px;
  position: relative;
}
h1 {
  font-weight: 800;
  font-size: 5rem;
}
h2, h4, h5 {
  font-size: 2.7rem;
}
p {
  padding: 5px;
}
.btn {
  max-width: 90%;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-top: 30px ;
}
.blu{
  padding: 9px 15px;
  background-color: #0061FF;
  color: white;
}
.buttons .blu{
  padding: 12px;
}
.buttons {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 243px;
  
}
#jumboright {
  position: absolute;
}
#img-jumbo {
  position: relative;
  width: 900px;
  padding: 0%;
  left: 400px;
  bottom: -25px;
}
.plans {
  width: 100%;
  max-width: 1000px;
  margin-top: 150px;
}
.selezionato {
  border-color: blue;
  border-radius: 50%;
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 5px solid;
  color:#0061FF;
}
.select {
  border-color: blue;
  border-radius: 50%;
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 2px solid;
  color: lightgray; 
}
.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.piano {
  width: 30%;
  height: fit-content;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.4); 
  padding-bottom: 40px;
}
.plan-name {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  font-weight: 600;
  font-size:small;
  padding: 10px;
  border-bottom: 1px solid;
  border-color: rgba(128, 128, 128, 0.4);
}

.detail {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column ; 
}

.detail ul{
  display: flex;
  width: 80%;
  margin: 30px;
  height: fit-content;

}
.try {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-size: small;
  padding: 10px 45px;
  
  
}
.fa-li {
  text-align: left;
  width: 100%;
  padding: 0%;
  
}
.card { 
  border: 2px solid;
  border-color: rgba(128, 128, 128, 0.185);
  height: 250px;
  width: 80%;
  max-width: 1000px;
  margin: 20px;
}

.partner {
 width: 70%;
}
.img-partner {
  width: 50%;
  display: flex;
  margin-left: -10px;
}
.partner-left {
  height: fit-content;
  width:max-content;
}
.partner-right {
  height: fit-content;
}
.business{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 120px;
}
.bus-top {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.bus-bottom {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 400px;
  width: 230px;
  margin: 10px 30px;
}
.box-img {
  width: 100%
}
.top-box{
 object-fit: contain;
 width: fit-content;
 height: 50%;
}
h11 {
  font-size: large;
  font-weight: 800;

}
.boxp{
  font-size: small;
  padding-top: 20px;
  padding-left: 0;
}
.box-client {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  aspect-ratio: 3;

}
.boxleft {
  width: calc(100% / 3);
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}
.boxcenter {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  overflow: auto;
}
.boxright {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
}
.square1, .square2, .square3, .square4, .square5, .square6, .square7, .square8 {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content:center;
  align-items:center;
  align-content: stretch;
  object-fit: c;
}
.square1 img {
  filter: invert(1); 
  width: 50%;
}
.square2 img {
  filter: invert(1); 
  width: 50%;
}
.square3 img {
  filter: invert(1); 
  width: 50%;
}
.square4 img {
  filter: invert(1); 
  width: 50%;
}
.square5 img {
  filter: invert(1); 
  width: 50%;
}
.square6 img {
  filter: invert(1); 
  width: 50%;
}
.square7 img {
  filter: invert(1); 
  width: 50%;
}
.square8 img {
  filter: invert(1); 
  width: 50%;
}
.square1 {
  background-color: #A2D39B;
}
.square2{
  background-color: #61082B;
}
.square3{
  background-color: #0093CE;
}
.square4{
  background-color: #FF1C1C;
}
.square5{
  background-color: #D5001F;
}
.square6{
  background-color: #B4D0E7;
}
.square7{
  background-color: #0D2481;
}
.square8{
  background-color: #FFD830;
}
.site-footer {
  background-color: #000000;
  padding: 20px 0;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: 20%; /* Imposta la larghezza delle colonne */
  padding: 0 10px;
}

/* Stile per le liste non ordinate */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}

ul.footer li {
  margin-bottom: 10px;
}

ul.footer li a {
  color: white;
  
  text-decoration: none;
}